* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

#router-outlet {
    width: 100vw;
    height: 100vh;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page-container {
    display: grid;
    grid-template-columns: 200px 200px;
    row-gap: 1rem;
}

.method-select-label {
    margin-right: 0.5rem;
}

.double-column-align-center {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}

.btn-default {
    margin: 0.5rem;
}

.doc-statistics-table {
    border-collapse: collapse;
    margin-top: 0.5rem;
}

.doc-statistics-table th, .doc-statistics-table td {
    border: solid black 1px;
    padding: 0.5rem;
}

.recognition-result-page-hr {
    margin: 1rem 0;
}

.back-btn {
    padding: 0.5rem;
    margin-top: 0.5rem;
}